<html>
<head>
<title>[Title]</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>
<h1>[Title]</h1>
<p>This paragraph introduces the list that follows:</p>
<ul>
<li>First item of bulleted list with a <a href="example.htm">link</a> in
it.</li>
<li>Second item in bulleted list.</li>
<li>Third item in bulleted list.</li>
</ul>
<p>Sometimes another paragraph follows the list.</p>
[quickpart.BottomLine]
</body>
</html>

